body{
    font-family: sans-serif;
    width: 1200px;
}

.header{
    background-color: aqua;
}

.servicios{
    background-color: aqua;
}

.noticias{
    background-color: aqua;
}

.miembros{
    background-color: aqua;
}

.footer{
    background-color: blue;
}